* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header{
    background: linear-gradient(to right, #381208, #020152);
    padding: 30px 30px;
    color: white;
    font-weight: bold;
    height: 20vh;
}

header h1{
    font-size: 2rem;
    font-weight: bold;
}
header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

main, section{
    padding-left: 8px;
}

video {
    position: absolute;
    width: 30vw;
    margin: 35px 0 0 750px;
    opacity: 0.6;
}
img{
    max-width: 600px;
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
}
footer {
    background: linear-gradient(to right, #381208, #020152);
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}